* {
    margin: 0;
}


body {
    background: linear-gradient(gray, lightgray, beige, white);
    font-family: 'Courier New', Courier, monospace, Arial, Helvetica, sans-serif;
}

img {
    height: auto;
    width: 45%;
}

p {
    text-align: center;
    margin: 24px;
}

ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

h2 {
    text-align: center;
    padding: 14px;
}

.parallax {
    background-image: url("../KatiesCookies/images/background.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxOne {
    background-image: url("../KatiesCookies/images/sand.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxTwo {
    background-image: url("../KatiesCookies/images/volcano1.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxThree {
    background-image: url("../KatiesCookies/images/volcano2.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerOne {
    display: flex;
}

.headerBox {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.mainC {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
}

.boxOne {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
    .parallaxOne {
        background-attachment: scroll;
    }
    .parallaxTwo {
        background-attachment: scroll;
    }
    .parallaxThree {
        background-attachment: scroll;
    }
  }